@import "mocha.css"; 

* {
    font-family: "MesloLGS Nerd Font Mono Bold";
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @white;
    transition-property: background-color;
    transition-duration: 0.1s;
}

#window {
    font-weight: bold;
    margin: 8px;
    padding-left: 8;
    padding-right: 8;
}

.modules-left{
	border-radius: 13px;
	background-color: rgba(31, 32, 44, 0.75);
	padding: 5px;
}

button {
    border-radius: 0;
    color: @mauve;
}

button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    border: none;
    border-bottom: 2px solid @mauve;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button.active {
    color: @mauve;
}

.modules-right {
	border-radius: 13px;
	background-color: rgba(31, 32, 44, 0.75);
	padding: 5px;
}

.modules-right:hover {
    border-bottom-color: #ffffff;
}

.modules-center {
	border-radius: 13px;
	background-color: rgba(31, 32, 44, 0.75);
	padding: 5px;
}
#window {
	color: @sky;
}

#clock,
#battery,
#backlight{
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#network,
#pulseaudio{
	font-weight: bold;
}


#clock {
    color: @maroon;
}

#clock:hover{
	border-bottom: 2px solid @maroon;
}


#clock.date {
    color: @mauve;
    border-bottom: 2px solid @mauve;
}

#pulseaudio {
    color: @green;
		padding-left: 2px;
		padding-right: 4px;
}

#network {
    color: @green;
		padding-left: 4px;
		padding-right: 2px;
}

#network:hover,
#pulseaudio:hover {
	border-bottom: 2px solid @green;
}

#battery {
    color: @yellow;
}

#battery:hover {
    border-bottom: 2px solid @yellow;
}
